<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhl.fin.api.dao.finDictionaryDao">
  <resultMap id="BaseResultMap" type="com.dhl.fin.api.domain.Dictionary">
    <id column="dictionary_id" property="id" />
    <result column="dictionary_name" property="name" />
    <result column="dictionary_code" property="code" />
    <result column="dictionary_remove" property="remove" />
    <result column="dictionary_create_time" property="createTime" />
    <result column="dictionary_update_time" property="updateTime" />
    <result column="dictionary_create_user" property="createUser" />
    <result column="dictionary_update_user" property="updateUser" />
    <association javaType="com.dhl.fin.api.domain.Dictionary" property="parent">
      <id column="dictionary_parent_id" property="id" />
      <result column="parent_name" property="name" />
      <result column="parent_code" property="code" />
      <result column="parent_remove" property="remove" />
      <result column="parent_create_time" property="createTime" />
      <result column="parent_update_time" property="updateTime" />
      <result column="parent_create_user" property="createUser" />
      <result column="parent_update_user" property="updateUser" />
    </association>
    <association javaType="com.dhl.fin.api.domain.Project" property="project">
      <id column="dictionary_project_id" property="id" />
      <result column="project_name" property="name" />
      <result column="project_en_name" property="enName" />
      <result column="project_code" property="code" />
      <result column="project_remove" property="remove" />
      <result column="project_create_time" property="createTime" />
      <result column="project_update_time" property="updateTime" />
      <result column="project_create_user" property="createUser" />
      <result column="project_update_user" property="updateUser" />
    </association>
    <collection ofType="com.dhl.fin.api.domain.Dictionary" property="children">
      <id column="children_id" property="id" />
      <result column="children_name" property="name" />
      <result column="children_code" property="code" />
      <result column="children_remove" property="remove" />
      <result column="children_create_time" property="createTime" />
      <result column="children_update_time" property="updateTime" />
      <result column="children_create_user" property="createUser" />
      <result column="children_update_user" property="updateUser" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    dictionary.id as dictionary_id,dictionary.create_time as dictionary_create_time,dictionary.create_user as dictionary_create_user,dictionary.remove as dictionary_remove,dictionary.update_time as dictionary_update_time,dictionary.update_user as dictionary_update_user,dictionary.code as dictionary_code,dictionary.name as dictionary_name,dictionary.parent_id as dictionary_parent_id,
    dictionary.project_id as dictionary_project_id
    <if test="joinMap != null">
      <foreach collection="joinMap" index="index" item="domain">
        <if test="domain.tableAlia == 'parent'">
          ,parent.name as parent_name,parent.code as parent_code,parent.id as parent_id,parent.remove as parent_remove,parent.create_time as parent_create_time,parent.update_time as parent_update_time,parent.create_user as parent_create_user,parent.update_user as parent_update_user
        </if>
        <if test="domain.tableAlia == 'project'">
          ,project.name as project_name,project.en_name as project_en_name,project.code as project_code,project.id as project_id,project.remove as project_remove,project.create_time as project_create_time,project.update_time as project_update_time,project.create_user as project_create_user,project.update_user as project_update_user
        </if>
        <if test="domain.tableAlia == 'children'">
          ,children.name as children_name,children.code as children_code,children.id as children_id,children.remove as children_remove,children.create_time as children_create_time,children.update_time as children_update_time,children.create_user as children_create_user,children.update_user as children_update_user
        </if>
      </foreach>
    </if>
  </sql>
  <sql id="select_sql">
    select  <if test='selectOne'>top 1</if>
    <include refid="Base_Column_List" />
    from t_dictionary dictionary
    <if test="joinMap != null">
      <foreach collection="joinMap" index="index" item="domain">
        <if test="!domain.isM2M and !domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.${domain.tableAlia}_id = ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.id = ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isM2M">
          left join ${domain.middleTable} ${domain.middleTable}_alis on dictionary.id=${domain.middleTable}_alis.dictionary_id left join t_${domain.tableName} ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId} and ${domain.tableAlia}.remove = 0
        </if>
      </foreach>
    </if>
    where 1=1 
    <if test="whereCondition != null">
      <foreach collection="whereCondition" index="index" item="condition">
        and ${condition}
      </foreach>
    </if>
    <if test="orderCondition != null">
      <trim prefix="order by" suffixOverrides=",">
        <foreach collection="orderCondition" index="index" item="condition">
           ${condition},
        </foreach>
      </trim>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select  <if test='selectOne'>top 1</if>
    <include refid="Base_Column_List" />
    from t_dictionary dictionary
    <if test="joinMap != null">
      <foreach collection="joinMap" index="index" item="domain">
        <if test="!domain.isM2M and !domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.${domain.tableAlia}_id = ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.id = ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isM2M">
          left join ${domain.middleTable} ${domain.middleTable}_alis on dictionary.id=${domain.middleTable}_alis.dictionary_id left join t_${domain.tableName} ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId} and ${domain.tableAlia}.remove = 0
        </if>
      </foreach>
    </if>
    where dictionary.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectPageQuery" resultMap="BaseResultMap">
    with dd as (select distinct ${orderFields} from t_dictionary dictionary 
    <if test="joinMap != null">
      <foreach collection="joinMap" index="index" item="domain">
        <if test="!domain.isM2M and !domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.${domain.tableAlia}_id = ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.id = ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isM2M">
          left join ${domain.middleTable} ${domain.middleTable}_alis on dictionary.id=${domain.middleTable}_alis.dictionary_id left join t_${domain.tableName} ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId} and ${domain.tableAlia}.remove = 0
        </if>
      </foreach>
    </if>
    where 1 = 1 
    <if test="whereCondition != null">
      <foreach collection="whereCondition" index="index" item="condition">
        and ${condition}
      </foreach>
    </if>
    <if test="orderCondition != null">
      <trim prefix="order by" suffixOverrides=",">
        <foreach collection="orderCondition" index="index" item="condition">
           ${condition},
        </foreach>
      </trim>
    </if>
    offset ${startIndex} rows fetch next ${length} rows only)
    select <include refid="Base_Column_List" />
    from t_dictionary dictionary
    <if test="joinMap != null">
      <foreach collection="joinMap" index="index" item="domain">
        <if test="!domain.isM2M and !domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.${domain.tableAlia}_id = ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.id = ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isM2M">
          left join ${domain.middleTable} ${domain.middleTable}_alis on dictionary.id=${domain.middleTable}_alis.dictionary_id left join t_${domain.tableName} ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId} and ${domain.tableAlia}.remove = 0
        </if>
      </foreach>
    </if>
    where exists(select 1 from dd where dd.id = dictionary.id)
    <if test="orderCondition != null">
      <trim prefix="order by" suffixOverrides=",">
        <foreach collection="orderCondition" index="index" item="condition">
           ${condition},
        </foreach>
      </trim>
    </if>
  </select>
  <select id="selectSelective" resultMap="BaseResultMap">
    <include refid="select_sql" />
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(1) total from (
    select  <if test='selectOne'>top 1</if>
     distinct ${fields}
    from t_dictionary dictionary
    <if test="joinMap != null">
      <foreach collection="joinMap" index="index" item="domain">
        <if test="!domain.isM2M and !domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.${domain.tableAlia}_id = ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isO2M">
          left join t_${domain.tableName} ${domain.tableAlia} on dictionary.id = ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
        </if>
        <if test="domain.isM2M">
          left join ${domain.middleTable} ${domain.middleTable}_alis on dictionary.id=${domain.middleTable}_alis.dictionary_id left join t_${domain.tableName} ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId} and ${domain.tableAlia}.remove = 0
        </if>
      </foreach>
    </if>
    where 1=1 
    <if test="whereCondition != null">
      <foreach collection="whereCondition" index="index" item="condition">
        and ${condition}
      </foreach>
    </if>
    <if test="orderCondition != null">
      <trim prefix="order by" suffixOverrides=",">
        <foreach collection="orderCondition" index="index" item="condition">
           ${condition},
        </foreach>
      </trim>
    </if>
    ) as s
  </select>
  <update id="deleteByPrimaryKey">
      update t_dictionary set remove = 1 , update_time=#{updateTime} , update_user=#{updateUser} where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.dhl.fin.api.domain.Dictionary">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_dictionary (create_time, create_user, remove, 
      update_time, update_user, code, 
      name, parent_id, project_id
      )
    values (#{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{remove,jdbcType=BIT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
    #{name,jdbcType=VARCHAR},#{parent.id,jdbcType=BIGINT},#{project.id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dhl.fin.api.domain.Dictionary">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="remove != null">
        remove,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parent != null and parent.id != null">
        parent_id,
      </if>
      <if test="project != null and project.id != null">
        project_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="remove != null">
        #{remove,jdbcType=BIT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent != null and parent.id != null">
        #{parent.id,jdbcType=BIGINT},
      </if>
      <if test="project != null and project.id != null">
        #{project.id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update t_dictionary
    <set>
      <if test="domain.createTime != null ">
        create_time = #{domain.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="domain.createUser != null ">
        create_user = #{domain.createUser,jdbcType=VARCHAR},
      </if>
      <if test="domain.remove != null ">
        remove = #{domain.remove,jdbcType=BIT},
      </if>
      <if test="domain.updateTime != null ">
        update_time = #{domain.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="domain.updateUser != null ">
        update_user = #{domain.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="domain.code != null ">
        code = #{domain.code,jdbcType=VARCHAR},
      </if>
      <if test="domain.name != null ">
        name = #{domain.name,jdbcType=VARCHAR},
      </if>
      <if test="domain.parent != null  and domain.parent.id != null ">
        parent_id = #{domain.parent.id,jdbcType=BIGINT},
      </if>
      <if test="domain.project != null  and domain.project.id != null ">
        project_id = #{domain.project.id,jdbcType=BIGINT},
      </if>
    </set>
    <trim prefix="where" suffixOverrides="and">
      <foreach collection="query.whereCondition" item="condition">
         ${condition}
      </foreach>
    </trim>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhl.fin.api.domain.Dictionary">
    update t_dictionary
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      remove = #{remove,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_id = #{parent.id,jdbcType=BIGINT},
      project_id = #{project.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOne" resultMap="BaseResultMap">
    <include refid="select_sql"/>
  </select>
</mapper>