<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhl.fin.api.dao.finfin.PassWordDao">
    <resultMap id="BaseResultMap" type="com.dhl.fin.api.domain.PassWord">
        <id column="pass_word_id" property="id"/>
        <result column="pass_word_account" property="account"/>
        <result column="pass_word_owner" property="owner"/>
        <result column="pass_word_project" property="project"/>
        <result column="pass_word_app_env" property="appEnv"/>
        <result column="pass_word_email" property="email"/>
        <result column="pass_word_pwd" property="pwd"/>
        <result column="pass_word_pass_word_prefix" property="passWordPrefix"/>
        <result column="pass_word_cycle" property="cycle"/>
        <result column="pass_word_last_update_date" property="lastUpdateDate"/>
        <result column="pass_word_notify" property="notify"/>
        <result column="pass_word_to_email" property="toEmail"/>
        <result column="pass_word_cc_email" property="ccEmail"/>
        <result column="pass_word_notify_days" property="notifyDays"/>
        <result column="pass_word_ad_expire_date" property="adExpireDate"/>
        <result column="pass_word_manual_expire_date" property="manualExpireDate"/>
        <result column="pass_word_remark" property="remark"/>
        <result column="pass_word_history_pwd" property="historyPwd"/>
        <result column="pass_word_acct_type" property="acctType"/>
        <result column="pass_word_remove" property="remove"/>
        <result column="pass_word_create_time" property="createTime"/>
        <result column="pass_word_update_time" property="updateTime"/>
        <result column="pass_word_create_user" property="createUser"/>
        <result column="pass_word_update_user" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        pass_word.id as pass_word_id,pass_word.create_time as pass_word_create_time,pass_word.create_user as
        pass_word_create_user,pass_word.remove as pass_word_remove,pass_word.update_time as
        pass_word_update_time,pass_word.update_user as pass_word_update_user,pass_word.account as
        pass_word_account,pass_word.pwd as pass_word_pwd,pass_word.cycle as pass_word_cycle,
        pass_word.email as pass_word_email,pass_word.last_update_date as pass_word_last_update_date,pass_word.remark as
        pass_word_remark,pass_word.ad_expire_date as pass_word_ad_expire_date,pass_word.notify_days as
        pass_word_notify_days,pass_word.notify as pass_word_notify,pass_word.owner as pass_word_owner,pass_word.project
        as pass_word_project,
        pass_word.manual_expire_date as pass_word_manual_expire_date,pass_word.acct_type as
        pass_word_acct_type,pass_word.app_env as pass_word_app_env,pass_word.pass_word_prefix as
        pass_word_pass_word_prefix,pass_word.history_pwd as pass_word_history_pwd,pass_word.cc_email as
        pass_word_cc_email,
        pass_word.to_email as pass_word_to_email
        <if test="joinMap != null">
            <foreach collection="joinMap" index="index" item="domain"/>
        </if>
    </sql>
    <sql id="select_sql">
        select
        <if test='selectOne'>top 1</if>
        <include refid="Base_Column_List"/>
        from t_pass_word pass_word
        <if test="joinMap != null">
            <foreach collection="joinMap" index="index" item="domain">
                <if test="!domain.isM2M and !domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.${domain.tableAlia}_id =
                    ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.id =
                    ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isM2M">
                    left join ${domain.middleTable} ${domain.middleTable}_alis on
                    pass_word.id=${domain.middleTable}_alis.pass_word_id left join t_${domain.tableName}
                    ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId}
                    and ${domain.tableAlia}.remove = 0
                </if>
            </foreach>
        </if>
        where 1=1
        <if test="whereCondition != null">
            <foreach collection="whereCondition" index="index" item="condition">
                and ${condition}
            </foreach>
        </if>
        <if test="orderCondition != null">
            <trim prefix="order by" suffixOverrides=",">
                <foreach collection="orderCondition" index="index" item="condition">
                    ${condition},
                </foreach>
            </trim>
        </if>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <if test='selectOne'>top 1</if>
        <include refid="Base_Column_List"/>
        from t_pass_word pass_word
        <if test="joinMap != null">
            <foreach collection="joinMap" index="index" item="domain">
                <if test="!domain.isM2M and !domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.${domain.tableAlia}_id =
                    ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.id =
                    ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isM2M">
                    left join ${domain.middleTable} ${domain.middleTable}_alis on
                    pass_word.id=${domain.middleTable}_alis.pass_word_id left join t_${domain.tableName}
                    ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId}
                    and ${domain.tableAlia}.remove = 0
                </if>
            </foreach>
        </if>
        where pass_word.id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectPageQuery" resultMap="BaseResultMap">
        with dd as (select distinct ${orderFields} from t_pass_word pass_word
        <if test="joinMap != null">
            <foreach collection="joinMap" index="index" item="domain">
                <if test="!domain.isM2M and !domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.${domain.tableAlia}_id =
                    ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.id =
                    ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isM2M">
                    left join ${domain.middleTable} ${domain.middleTable}_alis on
                    pass_word.id=${domain.middleTable}_alis.pass_word_id left join t_${domain.tableName}
                    ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId}
                    and ${domain.tableAlia}.remove = 0
                </if>
            </foreach>
        </if>
        where 1 = 1
        <if test="whereCondition != null">
            <foreach collection="whereCondition" index="index" item="condition">
                and ${condition}
            </foreach>
        </if>
        <if test="orderCondition != null">
            <trim prefix="order by" suffixOverrides=",">
                <foreach collection="orderCondition" index="index" item="condition">
                    ${condition},
                </foreach>
            </trim>
        </if>
        offset ${startIndex} rows fetch next ${length} rows only)
        select
        <include refid="Base_Column_List"/>
        from t_pass_word pass_word
        <if test="joinMap != null">
            <foreach collection="joinMap" index="index" item="domain">
                <if test="!domain.isM2M and !domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.${domain.tableAlia}_id =
                    ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.id =
                    ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isM2M">
                    left join ${domain.middleTable} ${domain.middleTable}_alis on
                    pass_word.id=${domain.middleTable}_alis.pass_word_id left join t_${domain.tableName}
                    ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId}
                    and ${domain.tableAlia}.remove = 0
                </if>
            </foreach>
        </if>
        where exists(select 1 from dd where dd.id = pass_word.id)
        <if test="orderCondition != null">
            <trim prefix="order by" suffixOverrides=",">
                <foreach collection="orderCondition" index="index" item="condition">
                    ${condition},
                </foreach>
            </trim>
        </if>
    </select>
    <select id="selectSelective" resultMap="BaseResultMap">
        <include refid="select_sql"/>
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) total from (
        select
        <if test='selectOne'>top 1</if>
        distinct ${fields}
        from t_pass_word pass_word
        <if test="joinMap != null">
            <foreach collection="joinMap" index="index" item="domain">
                <if test="!domain.isM2M and !domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.${domain.tableAlia}_id =
                    ${domain.tableAlia}.id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isO2M">
                    left join t_${domain.tableName} ${domain.tableAlia} on pass_word.id =
                    ${domain.tableAlia}.${domain.joinField}_id and ${domain.tableAlia}.remove = 0
                </if>
                <if test="domain.isM2M">
                    left join ${domain.middleTable} ${domain.middleTable}_alis on
                    pass_word.id=${domain.middleTable}_alis.pass_word_id left join t_${domain.tableName}
                    ${domain.tableAlia} on ${domain.tableAlia}.id = ${domain.middleTable}_alis.${domain.invertJoinId}
                    and ${domain.tableAlia}.remove = 0
                </if>
            </foreach>
        </if>
        where 1=1
        <if test="whereCondition != null">
            <foreach collection="whereCondition" index="index" item="condition">
                and ${condition}
            </foreach>
        </if>
        <if test="orderCondition != null">
            <trim prefix="order by" suffixOverrides=",">
                <foreach collection="orderCondition" index="index" item="condition">
                    ${condition},
                </foreach>
            </trim>
        </if>
        ) as s
    </select>
    <update id="deleteByPrimaryKey">
      update t_pass_word set remove = 1 , update_time=#{updateTime} , update_user=#{updateUser} where id = #{id,jdbcType=BIGINT}
  </update>
    <insert id="insert" parameterType="com.dhl.fin.api.domain.PassWord">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT @@IDENTITY
        </selectKey>
        insert into t_pass_word (create_time, create_user, remove,
        update_time, update_user, account,
        pwd, cycle, email,
        last_update_date, remark, ad_expire_date,
        notify_days, notify, owner,
        project, manual_expire_date, acct_type,
        app_env, pass_word_prefix, history_pwd,
        cc_email, to_email)
        values (#{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{remove,jdbcType=BIT},
        #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
        #{pwd,jdbcType=VARCHAR}, #{cycle,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR},
        #{lastUpdateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{adExpireDate,jdbcType=TIMESTAMP},
        #{notifyDays,jdbcType=INTEGER}, #{notify,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR},
        #{project,jdbcType=VARCHAR}, #{manualExpireDate,jdbcType=TIMESTAMP}, #{acctType,jdbcType=VARCHAR},
        #{appEnv,jdbcType=VARCHAR}, #{passWordPrefix,jdbcType=VARCHAR}, #{historyPwd,jdbcType=VARCHAR},
        #{ccEmail,jdbcType=VARCHAR}, #{toEmail,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.dhl.fin.api.domain.PassWord">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT @@IDENTITY
        </selectKey>
        insert into t_pass_word
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="remove != null">
                remove,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="cycle != null">
                cycle,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="lastUpdateDate != null">
                last_update_date,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="adExpireDate != null">
                ad_expire_date,
            </if>
            <if test="notifyDays != null">
                notify_days,
            </if>
            <if test="notify != null">
                notify,
            </if>
            <if test="owner != null">
                owner,
            </if>
            <if test="project != null">
                project,
            </if>
            <if test="manualExpireDate != null">
                manual_expire_date,
            </if>
            <if test="acctType != null">
                acct_type,
            </if>
            <if test="appEnv != null">
                app_env,
            </if>
            <if test="passWordPrefix != null">
                pass_word_prefix,
            </if>
            <if test="historyPwd != null">
                history_pwd,
            </if>
            <if test="ccEmail != null">
                cc_email,
            </if>
            <if test="toEmail != null">
                to_email,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="remove != null">
                #{remove,jdbcType=BIT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="cycle != null">
                #{cycle,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateDate != null">
                #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="adExpireDate != null">
                #{adExpireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="notifyDays != null">
                #{notifyDays,jdbcType=INTEGER},
            </if>
            <if test="notify != null">
                #{notify,jdbcType=VARCHAR},
            </if>
            <if test="owner != null">
                #{owner,jdbcType=VARCHAR},
            </if>
            <if test="project != null">
                #{project,jdbcType=VARCHAR},
            </if>
            <if test="manualExpireDate != null">
                #{manualExpireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="acctType != null">
                #{acctType,jdbcType=VARCHAR},
            </if>
            <if test="appEnv != null">
                #{appEnv,jdbcType=VARCHAR},
            </if>
            <if test="passWordPrefix != null">
                #{passWordPrefix,jdbcType=VARCHAR},
            </if>
            <if test="historyPwd != null">
                #{historyPwd,jdbcType=VARCHAR},
            </if>
            <if test="ccEmail != null">
                #{ccEmail,jdbcType=VARCHAR},
            </if>
            <if test="toEmail != null">
                #{toEmail,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        update t_pass_word
        <set>
            <if test="domain.createTime != null ">
                create_time = #{domain.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="domain.createUser != null ">
                create_user = #{domain.createUser,jdbcType=VARCHAR},
            </if>
            <if test="domain.remove != null ">
                remove = #{domain.remove,jdbcType=BIT},
            </if>
            <if test="domain.updateTime != null ">
                update_time = #{domain.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="domain.updateUser != null ">
                update_user = #{domain.updateUser,jdbcType=VARCHAR},
            </if>
            <if test="domain.account != null ">
                account = #{domain.account,jdbcType=VARCHAR},
            </if>
            <if test="domain.pwd != null ">
                pwd = #{domain.pwd,jdbcType=VARCHAR},
            </if>
            <if test="domain.cycle != null ">
                cycle = #{domain.cycle,jdbcType=INTEGER},
            </if>
            <if test="domain.email != null ">
                email = #{domain.email,jdbcType=VARCHAR},
            </if>
            <if test="domain.lastUpdateDate != null ">
                last_update_date = #{domain.lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="domain.remark != null ">
                remark = #{domain.remark,jdbcType=VARCHAR},
            </if>
            <if test="domain.adExpireDate != null ">
                ad_expire_date = #{domain.adExpireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="domain.notifyDays != null ">
                notify_days = #{domain.notifyDays,jdbcType=INTEGER},
            </if>
            <if test="domain.notify != null ">
                notify = #{domain.notify,jdbcType=VARCHAR},
            </if>
            <if test="domain.owner != null ">
                owner = #{domain.owner,jdbcType=VARCHAR},
            </if>
            <if test="domain.project != null ">
                project = #{domain.project,jdbcType=VARCHAR},
            </if>
            <if test="domain.manualExpireDate != null ">
                manual_expire_date = #{domain.manualExpireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="domain.acctType != null ">
                acct_type = #{domain.acctType,jdbcType=VARCHAR},
            </if>
            <if test="domain.appEnv != null ">
                app_env = #{domain.appEnv,jdbcType=VARCHAR},
            </if>
            <if test="domain.passWordPrefix != null ">
                pass_word_prefix = #{domain.passWordPrefix,jdbcType=VARCHAR},
            </if>
            <if test="domain.historyPwd != null ">
                history_pwd = #{domain.historyPwd,jdbcType=VARCHAR},
            </if>
            <if test="domain.ccEmail != null ">
                cc_email = #{domain.ccEmail,jdbcType=VARCHAR},
            </if>
            <if test="domain.toEmail != null ">
                to_email = #{domain.toEmail,jdbcType=VARCHAR},
            </if>
        </set>
        <trim prefix="where" suffixOverrides="and">
            <foreach collection="query.whereCondition" item="condition">
                ${condition}
            </foreach>
        </trim>
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dhl.fin.api.domain.PassWord">
    update t_pass_word
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      remove = #{remove,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      cycle = #{cycle,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      ad_expire_date = #{adExpireDate,jdbcType=TIMESTAMP},
      notify_days = #{notifyDays,jdbcType=INTEGER},
      notify = #{notify,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      project = #{project,jdbcType=VARCHAR},
      manual_expire_date = #{manualExpireDate,jdbcType=TIMESTAMP},
      acct_type = #{acctType,jdbcType=VARCHAR},
      app_env = #{appEnv,jdbcType=VARCHAR},
      pass_word_prefix = #{passWordPrefix,jdbcType=VARCHAR},
      history_pwd = #{historyPwd,jdbcType=VARCHAR},
      cc_email = #{ccEmail,jdbcType=VARCHAR},
      to_email = #{toEmail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectOne" resultMap="BaseResultMap">
        <include refid="select_sql"/>
    </select>
</mapper>